.my-masonry-grid {
  display: flex;
  margin-left: -12px; /* 间距缩小一点，让 4 列不显拥挤 */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 12px;
  background-clip: padding-box;
}

/* 强制让瀑布流内容块产生自然的错位 */
.my-masonry-grid article:nth-child(odd) {
  margin-top: 10px;
}